name: Build Image

on:

  workflow_dispatch:
    inputs:
      image:
        description: Image name
        type: string
      version:
        description: Image version tag
        type: string
      frappe-repo:
        description: Frappe repo
        type: string
      frappe-version:
        description: Frappe branch
        type: string
      py-version:
        description: Python version
        type: string
      nodejs-version:
        description: NodeJS version
        type: string
      apps-json-base64:
        description: base64 encoded string of apps.json
        type: string
      context:
        description: kaniko context
        type: string
      cache:
        description: Use Cache
        type: boolean
        default: true

    secrets:
      REGISTRY_PASSWORD:
        description: registry password
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Frappe Registry
        uses: docker/login-action@v2
        with:
          registry: registry.frappe.io
          username: frappe
          password: ${{ secrets.REGISTRY_PASSWORD || secrets.GITHUB_TOKEN }}

      - name: Generate Date Variable
        run: echo "TAG_DATE=$(date +'%d%m%Y')" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: int128/kaniko-action@v1
        with:
          push: true
          cache: ${{ inputs.cache }}
          cache-ttl:1h
          cache-repository: ghcr.io/${{ github.repository }}/cache
          kaniko-args: |
            --build-arg=FRAPPE_PATH=${{ inputs.frappe-repo || env.FRAPPE_REPO }}
            --build-arg=FRAPPE_BRANCH=${{ inputs.frappe-version || env.FRAPPE_VERSION }}
            --build-arg=PYTHON_VERSION=${{ inputs.py-version || env.PY_VERSION }}
            --build-arg=NODE_VERSION=${{ inputs.nodejs-version || env.NODEJS_VERSION }}
            --build-arg=APPS_JSON_BASE64=${{ inputs.apps-json-base64 || env.APPS_JSON_BASE64 }}
            --context=${{ inputs.context || env.CONTEXT }}
            --destination=registry.frappe.io/${{ inputs.image || env.IMAGE }}:${{ inputs.version || env.VERSION }}
            --destination=registry.frappe.io/${{ inputs.image || env.IMAGE }}:${{ env.TAG_DATE }}
            --destination=registry.frappe.io/${{ inputs.image || env.IMAGE }}:latest
          file: images/custom/Containerfile
